<!-- fragment 2 start -->
<table class="w-full bg-[#F0F5F5]">
  <tr>

    <td class="px-[20px] pt-[30px] align-center-table">
        <table>
          <tr>
            <td
              class="text-2xl text-primary leading-[28px] px-[30px] text-[#005555] font-bold text-center"
            >
            Sint cupidatat occaecat ut
            </td>
          </tr>
        </table>
      </td>
  </tr>
    <tr>
      <td class="px-[20px] py-[30px]">
          <table>
            <tr>
              <td class="bg-[#ffffff] align-center-table sm-w-full sm-inline-block py-[30px]">

                  <x-image imgUrl="icon.png" href="#" class="w-[100px]"/>
  
                  <p class="text-xl text-primary leading-[23px] px-base pt-[15px] px-[30px] text-[#005555] font-bold"> 
                    Nisi ut ade 
                  </p>

                  <p
                    class="text-base text-primary leading-[18px] px-[30px] pt-[20px] text-[#444444] sm:px-[45px]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup style="font-size:8px;">1</sup>
                  </p>
  
              </td>
              <td class="sm-w-full sm-inline-block"><p style="width:20px;">&nbsp;</p></td>
              <td class="bg-[#ffffff] align-center-table sm-w-full sm-inline-block py-[30px]">              

                <x-image imgUrl="icon.png" href="#" class="w-[100px]"/>
  
                <p class="text-xl text-primary leading-[23px] px-base pt-[15px] px-[30px] text-[#005555] font-bold">
                  Duis aute irure
                </p>

                <p
                  class="text-base text-primary leading-[18px] px-[30px] pt-[20px] text-[#444444] sm:px-[45px]">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup style="font-size:8px;">2</sup>
                </p>

              </td>
            </tr>
  
          </table>
          <p style="height:10px;">&nbsp;</p>
        </td>
      </tr>
</table>
<!-- fragment 2 end -->
