<table class="w-full">
  <!-- footer -->

  <tr>
    <td class="px-[20px] pt-[15px] pb-[20px] align-center-table">
        <table>
          <tr>
            <hr class="h-px bg-black border-0"> 
            <p class="h-3.5">&nbsp;</p>
            <td class="text-xs text-primary leading-[14px] px-[30px] text-[#000000] text-center">
            Sed do eiusmod tempor incididunt ut labore
            </td>
          </tr>
          <tr>
            <td class="px-[20px] pt-[20px] align-center-table">
            <x-image class="w-[100px]" imgUrl="image-2.png" href="#" />
            </td>
          </tr>
        </table>
    </td>
  </tr>

</table>
